Bonjour,
\
Vous vous êtes précédemment inscrit pour participer à l'expérience du Vote de Valeur.
Notre bureau de vote virtuel est à présent ouvert.
\
L'enjeu de cette expérience est de vous permettre de découvrir un nouveau système de vote et de le comparer au système actuel.
Comme pour l'élection réelle, nous vous rappelons que ce vote est totalement anonyme. 
Vous recevrez un compte-rendu de notre expérience après les résultats officiels de l'élection présidentielle.
\
Vous pouvez dès maintenant voter en accédant avec votre navigateur internet à cette url qui vous est personnelle : 
= user_access_url(:id => @user.access_token)

\
Cordialement.
L'équipe "Vote de Valeur, expérience 2012"
http://www.votedevaleur.org
\
PS: Si vous souhaitez vous désinscrire de cette expérience, vous pouvez le faire à tout moment en envoyant un courriel à contact@votedevaleur.org.

