Bonjour,
\
Vous vous êtes précédemment inscrit pour participer à l'expérience du Vote de Valeur.
Notre bureau de vote virtuel est à présent ouvert.
\
L'enjeu de cette expérience est de vous permettre de découvrir un nouveau système de vote et de le comparer au système actuel.
Comme pour l'élection réelle, ce vote est strictement anonyme.
\
Vous pouvez dès maintenant voter en accédant avec votre navigateur internet à cette url qui vous est personnelle : 
= user_access_url(:id => @user.access_token)
\
Notre bureau de vote virtuel fermera ses portes dimanche 22 avril à 20h00.
\
\
Cordialement,
L'équipe "Vote de Valeur, expérience 2012"
http://www.votedevaleur.org
\
PS: En raison de l'affluence des participants, nous avons décidé d'avancer de quelques jours l'ouverture de notre bureau de vote virtuel.
\
PS2: Si vous souhaitez vous désinscrire de cette expérience, vous pouvez le faire à tout moment en envoyant un courriel à contact@votedevaleur.org.
