Bonjour,
\
Le bureau de vote virtuel du Vote de Valeur va bientôt fermer ses portes, ce soir à 20h00.
\
Pour accéder au bureau de vote virtuel et expérimenter le Vote de Valeur cliquez sur ce lien :
\
= user_access_url(:id => @user.access_token)
\
Notre bureau de vote virtuel fermera ses portes dimanche 22 avril à 20h00. 
\
Cordialement, 
L'équipe "Vote de Valeur, expérience 2012" 
http://www.votedevaleur.org 
\
PS: Si vous souhaitez vous désinscrire de cette expérience, vous pouvez le faire à tout moment en envoyant un courriel à contact@votedevaleur.org.
