/* line 14, ../../app/stylesheets/screen.scss */
html, body {
  margin: 0 0;
  padding: 0 0;
  font-family: "Lucida Grande", Verdana;
}

/* line 20, ../../app/stylesheets/screen.scss */
.clear {
  clear: both;
}

/* line 24, ../../app/stylesheets/screen.scss */
h2, h1, h4 {
  text-align: center;
}

/* line 28, ../../app/stylesheets/screen.scss */
table {
  border-collapse: collapse;
}
/* line 30, ../../app/stylesheets/screen.scss */
table td {
  border: 1px solid;
}
/* line 33, ../../app/stylesheets/screen.scss */
table thead {
  font-weight: bold;
}

/* line 38, ../../app/stylesheets/screen.scss */
td.count, td.classic_count {
  text-align: right;
}

/* line 44, ../../app/stylesheets/screen.scss */
#user_new .input label {
  text-align: right;
  display: inline-block;
  width: 90px;
}
/* line 50, ../../app/stylesheets/screen.scss */
#user_new #user_remember_me {
  margin-left: 90px;
}
/* line 53, ../../app/stylesheets/screen.scss */
#user_new #user_submit {
  display: block;
  margin-left: 90px;
}

/* line 60, ../../app/stylesheets/screen.scss */
#container {
  margin: 0 auto;
  width: 800px;
}

/* line 65, ../../app/stylesheets/screen.scss */
#messages {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

/* line 71, ../../app/stylesheets/screen.scss */
#header {
  margin: 0 auto;
  width: 800px;
}
/* line 74, ../../app/stylesheets/screen.scss */
#header #logo {
  float: left;
}
/* line 77, ../../app/stylesheets/screen.scss */
#header #user_sign_in {
  float: right;
  text-align: right;
}

/* line 83, ../../app/stylesheets/screen.scss */
.hidden {
  display: none;
}

/* line 91, ../../app/stylesheets/screen.scss */
.application h2 {
  margin: 0 0 10px 0;
  color: white;
  font-weight: normal;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
/* line 98, ../../app/stylesheets/screen.scss */
.application #classic_vote {
  color: #696969;
  float: right;
  background-color: #F6F6F6;
  border: 5px solid #8D8D8D;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  width: 275px;
  text-align: center;
  padding-bottom: 10px;
}
/* line 109, ../../app/stylesheets/screen.scss */
.application #classic_vote h2 {
  background: #8D8D8D;
}
/* line 112, ../../app/stylesheets/screen.scss */
.application #classic_vote span {
  display: block;
  clear: both;
  height: 45px;
  text-align: center;
}
/* line 118, ../../app/stylesheets/screen.scss */
.application #classic_vote span input {
  float: right;
  margin: 15px 65px 0 0;
}
/* line 122, ../../app/stylesheets/screen.scss */
.application #classic_vote span label {
  float: left;
  display: inline-block;
  text-align: right;
  width: 175px;
  margin: 11px 0 0 0;
}
/* line 129, ../../app/stylesheets/screen.scss */
.application #classic_vote span label.selected {
  padding: 12px 70px 12px 0;
  margin: 0 0;
  background: url(/images/radio-selected.png) no-repeat 200px 7px;
}
/* line 134, ../../app/stylesheets/screen.scss */
.application #classic_vote span label.unselected {
  padding: 12px 70px 12px 0;
  margin: 0 0;
  background: url(/images/radio-unselected.png) no-repeat 200px 7px;
}
/* line 143, ../../app/stylesheets/screen.scss */
.application #user_votes {
  color: #696969;
  float: left;
  background-color: #F6F6F6;
  border: 5px solid #26B19C;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  width: 475px;
  text-align: center;
  padding-bottom: 10px;
}
/* line 156, ../../app/stylesheets/screen.scss */
.application #user_votes h2 {
  background: #26B19C;
}
/* line 160, ../../app/stylesheets/screen.scss */
.application #user_votes .row {
  width: 475px;
  height: 45px;
  vertical-align: top;
}
/* line 164, ../../app/stylesheets/screen.scss */
.application #user_votes .row > label {
  display: inline-block;
  text-align: right;
  width: 175px;
  padding-right: 10px;
}
/* line 170, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input {
  display: inline-block;
  text-align: left;
}
/* line 173, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span {
  display: inline-block;
}
/* line 177, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span input {
  margin: 0 0;
}
/* line 181, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label {
  display: inline-block;
  margin: 5px 5px 5px 0;
  width: 30px;
  height: 25px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  -o-border-radius: 17px;
  -ms-border-radius: 17px;
  -khtml-border-radius: 17px;
  border-radius: 17px;
  border: 1px solid black;
  font-size: 15px;
  font-family: Verdana;
  cursor: pointer;
  text-align: center;
  padding: 5px 0 0 0;
  z-index: 2;
  background-color: #EEE;
}
/* line 197, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label.selected {
  font-weight: bold;
  color: black;
  border-color: black;
  margin-right: 15px;
}
/* line 203, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label.unselected {
  margin-right: 15px;
}
/* line 207, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="-2"] {
  border-color: #f43737;
  color: #f43737;
}
/* line 210, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="-2"].selected {
  background-color: #F43737;
  color: black;
  border-color: black;
}
/* line 216, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="-1"] {
  border-color: #e49f37;
  color: #e49f37;
}
/* line 219, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="-1"].selected {
  background-color: #E49F37;
  color: black;
  border-color: black;
}
/* line 225, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="0"] {
  border-color: #d2d2d7;
  color: #d2d2d7;
}
/* line 228, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="0"].selected {
  background-color: #D2D2D7;
  color: black;
  border-color: black;
}
/* line 234, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="_1"] {
  border-color: #b5d43b;
  color: #b5d43b;
}
/* line 237, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="_1"].selected {
  background-color: #B5D43B;
  color: black;
  border-color: black;
}
/* line 243, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="_2"] {
  border-color: #26b709;
  color: #26b709;
}
/* line 246, ../../app/stylesheets/screen.scss */
.application #user_votes .row .input span label[for$="_2"].selected {
  background-color: #26B709;
  color: black;
  border-color: black;
}
/* line 258, ../../app/stylesheets/screen.scss */
.application #user_submit {
  margin-top: 30px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  border: 5px solid #26B19C;
  clear: both;
  float: right;
  width: 110px;
  height: 50px;
  background-color: #DDDDDD;
  cursor: pointer;
}

/* line 272, ../../app/stylesheets/screen.scss */
.results {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}
/* line 276, ../../app/stylesheets/screen.scss */
.results .candidate {
  display: inline-block;
  text-align: right;
  width: 390px;
}
/* line 281, ../../app/stylesheets/screen.scss */
.results .count {
  display: inline-block;
  text-align: left;
  width: 390px;
  font-weight: bold;
}
