.application .hidden{
  display: inherit;
}

.application #user_votes .row .input span input.hidden {
  z-index: 1;
  margin-right: -25px;
}

.application #classic_vote span input.hidden{
  z-index: 1;
}

.application #classic_vote span label.selected{
  padding: inherit;
  margin: 11px 0 0 0;
  background: inherit;
}
.application #classic_vote span label.unselected{
  padding: inherit;
  margin: 11px 0 0 0;
  background: inherit;
}