
@import "compass/css3/border-radius";

$user_sign_up_margin: 90px;

$width: 800px;

$color_minus_2: #F43737;
$color_minus_1: #E49F37;
$color_0: #D2D2D7;
$color_1: #B5D43B;
$color_2: #26B709;

html, body{
  margin: 0 0;
  padding: 0 0;
  font-family: "Lucida Grande", Verdana;
}

.clear{
    clear: both;
}

h2, h1, h4{
    text-align: center;
}

table{
  border-collapse: collapse;
  td{
    border: 1px solid;
  }
  thead{
    font-weight: bold;
  }
}

td.count, td.classic_count{
  text-align: right;
}

#user_new{
    .input{
        label{
            text-align: right;
            display: inline-block;
            width: $user_sign_up_margin;
        }
    }
    #user_remember_me{
        margin-left: $user_sign_up_margin;
    }
    #user_submit{
        display: block;
        margin-left: $user_sign_up_margin;
    }
}


#container{
    margin: 0 auto;
    width: $width;
}

#messages{
    margin: 0 auto;
    width: $width;
    text-align: center;
}

#header{
    margin: 0 auto;
    width: $width;
    #logo{
        float: left;
    }
    #user_sign_in{
        float: right;
        text-align: right;
    }
}

.hidden{
  display: none;
}

$name_width: 175px;
.application{
  $row_height: 45px;

  h2{
    margin: 0 0 10px 0;
    color: white;
    font-weight: normal;
    @include border-radius(10px 10px 0px 0px);
  }

  #classic_vote{
    $classic_vote_width: 275px;
    color: #696969;
    float: right;
    background-color: #F6F6F6;
    border: 5px solid #8D8D8D;
    @include border-radius(20px);
    width: $classic_vote_width;
    text-align: center;
    padding-bottom: 10px;

    label{
      cursor: pointer;
    }
    h2{
      background: #8D8D8D;
    }
    span{
      display: block;
      clear: both;
      height: $row_height;
      text-align: center;

      input{
        float: right;
        margin: 15px 65px 0 0;
      }
      label{
        float: left;
        display: inline-block;
        text-align: right;
        width: $name_width;
        margin: 11px 0 0 0;

        &.selected{
          padding: 12px 70px 12px 0;
          margin: 0 0;
          background: url(/images/radio-selected.png) no-repeat 200px 7px;
        }
        &.unselected{
          padding: 12px 70px 12px 0;
          margin: 0 0;
          background: url(/images/radio-unselected.png) no-repeat 200px 7px;
        }
      }
    }
  }

  #user_votes{
      $vote_width: 475px;

      color: #696969;
      float: left;
      background-color: #F6F6F6;
      border: 5px solid #26B19C;
      @include border-radius(20px);
      width: $vote_width;
      text-align: center;
      padding-bottom: 10px;


      h2{
        background: #26B19C;
      }

      .row{
          width: $vote_width;
          height: $row_height;
          vertical-align: top;
          > label{
              display: inline-block;
              text-align: right;
              width: $name_width;
              padding-right: 10px;
          }
          .input {
              display: inline-block;
              text-align: left;
              span {

                display: inline-block;

                input{
                   margin: 0 0;

                }
                label{
                    display: inline-block;
                    $label_radius: 17px;
                    margin: 5px 5px 5px 0;
                    width: (2 * $label_radius) - 4px;
                    height: (2 * $label_radius) - 4px - 5px;
                    @include border-radius($label_radius);
                    border: 1px solid black;
                    font-size: 15px;
                    font-family: Verdana;
                    cursor: pointer;
                    text-align: center;
                    padding: 5px 0 0 0;
                    z-index: 2;
                    background-color: #EEE;

                    &.selected{
                      font-weight: bold;
                      color: black;
                      border-color: black;
                      margin-right: 15px;
                    }
                    &.unselected{
                      margin-right: 15px;
                    }
                }
                label[for$="-2"] {
                    border-color: $color_minus_2;
                    color: $color_minus_2;
                    &.selected{
                      background-color: #F43737;
                      color: black;
                      border-color: black;
                    }
                }
                label[for$="-1"] {
                    border-color: $color_minus_1;
                    color: $color_minus_1;
                    &.selected{
                      background-color: #E49F37;
                      color: black;
                      border-color: black;
                    }
                }
                label[for$="0"] {
                    border-color: $color_0;
                    color: $color_0;
                    &.selected{
                      background-color: #D2D2D7;
                      color: black;
                      border-color: black;
                    }
                }
                label[for$="_1"] {
                    border-color: $color_1;
                    color: $color_1;
                    &.selected{
                      background-color: #B5D43B;
                      color: black;
                      border-color: black;
                    }
                }
                label[for$="_2"] {
                    border-color: $color_2;
                    color: $color_2;
                    &.selected{
                      background-color: #26B709;
                      color: black;
                      border-color: black;
                    }
                }
              }
          }
      }
  }


  #user_submit{
      margin-top: 30px;
      @include border-radius(20px);
      border: 5px solid #26B19C;
      clear: both;
      float: right;
      width: 110px;
      height: 50px;
      background-color: #DDDDDD;
      cursor: pointer;
  }
}


.results{
    margin: 0 auto;
    width: $width;
    text-align: center;
    .candidate{
        display: inline-block;
        text-align: right;
        width: $width/2 - 10px;
    }
    .count{
        display: inline-block;
        text-align: left;
        width: $width/2 - 10px;
        font-weight: bold;
    }
}

input#user_postal_code{
  width: 5em;
}

label[for='user_public']{
  font-size: 12px;
}

/*********   SIMPLE FORM DEFAULTS   ************/
/* ----- SimpleForm Styles ----- */


$label_width: 320px;
$label_margin: 10px;
$label_inner_width: $label_width - 2*$label_margin;
.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form label {
  float: left;
  width: $label_inner_width;
  text-align: right;
  margin: 2px $label_margin;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: $label_width;
}

div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear:   left;
  color:   black;
  display: block;
  margin-left: $label_width;
  font-size:    12px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size:    12px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left:   2px;
}


#dev{
  background: orange;
  height: 30px;
  #configuration{
    padding: 5px;
    float: right;
  }
  #date_election{
    padding: 5px;
    float: left;
  }
}