<%= simple_form_for(@user, :url => registration_path(@user)) do |f| %>
	<div id="content">
		<%= f.input :email %>
		<%= f.submit "Valider", :id => 'next', :class => 'green' %>
		<div class="clear"/>
		<div style="margin:30px">
			<center>
				<a id="back" class="next red" href="http://www.votedevaleur.org">Visiter le site du Vote de Valeur</a>
			</center>
		</div>
	</div>
<% end %>
