<%= simple_form_for(@user, :url => registration_path(@user)) do |f| %>
	<div id="content">
		<p class="texteImp">
			Le premier tour de l'élection présidentielle française 2012<br/>
			a été l'occasion d'expérimenter le Vote de Valeur.
		</p>
		<p>
			Cette expérience est à présent terminée. Les premiers résultats seront publiés après le deuxième tour de l'élection officielle.
		</p>
		<p>
			Si vous n'êtes pas déjà inscrit et si vous souhaitez être informé des résultats de cette expérience, 
			des évolutions du Vote de Valeur ou des prochaines expériences, vous pouvez vous inscrire ici :
		</p>
		<%= f.submit "Valider", :id => 'next', :class => 'green' %>
		<%= f.input :email %>
		<div class="clear"/>
		<div style="margin:30px">
			<center>
				<a id="back" class="next red" href="http://www.votedevaleur.org">Visiter le site du Vote de Valeur</a>
			</center>
		</div>
	</div>
<% end %>
