-#coding: UTF-8
#content.red
  = render :partial => '/layouts/messages'
  %p
    Votre carte électorale est validée.
  - if DateHelper.election_running?
    %p
      L'élection est commencée.
    %p
      Pour confirmer votre inscription et accéder à l'espace de vote, veuillez cliquez sur le lien contenu dans le mail qui vous à été envoyé.

  -else
    %p
      L'élection est prévue le
      = DateHelper.format_start
    %p
      Vous recevrez un mail pour vous prévenir de l'ouverture du bureau de vote.
