<%= simple_form_for(@user, :url => registration_path(@user)) do |f| %>
	<style>
		#user_email{
			width: 480px;
		}
		#new_user input#user_email{
			margin-left: 10px;
		}
		#new_user .input.email{
			float: left;
			margin-top: 4px;
		}
		#subscribe{
			border: 2px solid #20B755;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			color: #2E2E2E;
			background-image: none;
			text-decoration: none;
			float: left;
			padding: 5px;
			margin-left : 15px;
		}
		#subscribe:hover{
			background-color:#E5F4EA ;
		}
		#next{
			border: 3px solid #FF3A3C;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			-moz-box-shadow: 0px 0px 5px #333333;
			-webkit-box-shadow: 0px 0px 5px #333333;
			box-shadow: 0px 0px 5px #333333;
			color: #2E2E2E;
			text-decoration: none;
			padding: 10px;
			padding-right: 55px;
			margin-top: 10px
		}
		
		.texteImp{
			color:#20B755;
			font-weight: bold;
			text-align: center;
		}
		abbr{
			display: none;
		}
		#contactcontainer{
			display:none;
		}
		#votes_count{
			display:none;
		}
	</style>	
	<div id="content" class="green" style="margin-top: 0; margin-bottom: 10px">
		<p style="text-align:center;">
			<%= image_tag 'merciParticipation.png', :size => '314x202'%>
		</p>
		<p class="texteImp">
			Le premier tour de l'élection présidentielle française 2012<br/>
			a été l'occasion d'expérimenter le Vote de Valeur.
		</p>
		<p>
			Cette expérience est à présent terminée. Les premiers résultats seront publiés après le deuxième tour de l'élection officielle.
		</p>
		<p>
			Si vous n'êtes pas déjà inscrit et si vous souhaitez être informé des résultats de cette expérience, 
			des évolutions du Vote de Valeur ou des prochaines expériences, vous pouvez vous inscrire ici&nbsp;:
		</p>
		<p style="margin:20px 0">
			<%= f.input :email %>
			<%= f.submit "S'inscrire", :id => 'subscribe', :class => 'green' %>
		</p>
		<div class="clear" > </div>
		<div style="margin:20px">
			<center>
				<a id="next" class="red" href="http://www.votedevaleur.org">Visiter le site du Vote de Valeur</a>
			</center>
		</div>
	</div>
<% end %>
