-#coding: UTF-8

#content.red
  %p
    Votre carte électorale est validée.
  - if DateHelper.election_running?
    %p
      L'élection est commencée.
    %p
      = link_to "Votez maintenant !", votes_path

  -else
    %p
      L'élection est prévue le
      = DateHelper.format_start
    %p
      Vous recevrez un mail pour vous prévenir de l'ouverture du bureau de vote.
