-#coding: UTF-8
#content.red
  = render :partial => '/layouts/messages'
  %p
    Votre inscription pour cette expérience du Vote de Valeur a été validée.
  %p
    Un courriel vous a été envoyé vous confirmant cette inscription. 
  - if DateHelper.election_running?
    %p
      L'élection est commencée.
    %p
      Pour confirmer votre inscription et accéder à l'espace de vote, veuillez cliquez sur le lien contenu dans le mail qui vous à été envoyé.

  -else
    %p
      Notre bureau de vote sera ouvert du vendredi 20 avril 2012 au dimanche 22 avril 2012.
    %p
      Vous recevrez un courriel dès l'ouverture qui vous invitera à voter.

  %p
    Invitez vos amis à s'inscrire pour cette expérience du Vote de Valeur :

  .social
    %span.st_twitter_large
    %span.st_facebook_large
    %span.st_email_large
    %span.st_sharethis_large
