-# coding: utf-8
#content.red
  = render :partial => '/layouts/messages'
  %p
    Le Vote De Valeur c'est...
  %p
    L'expérimentation consiste à...

= link_to "Continuer", new_user_registration_path, :id => 'next', :class => 'red'
