#content.red
  = render :partial => '/layouts/messages'
  %p
    Si vous êtes déjà enregistré, vous devez vous connecter en suivant le lien contenu dans le mail qui vous a été envoyé.
  %p
    Si vous n'avez pas reçu le mail ou si vous ne le retrouvez pas :

  %form#resend_instructions{:action => '/users/resend_instructions', :method => :post}
    %input{:name => 'email', :type => :email, :placeholder => 'Votre email'}
    %input{:type => :submit, :value => 'Renvoyez-moi le mail'}

#nextcontainer
  = link_to "Retour", new_user_registration_path, :id => 'next', :class => 'red'
