

#content.green
  = image_tag 'a_vote.png', :id => 'pastille_a_vote'
  = render :partial => '/layouts/messages'
  %p
    Merci d'avoir voté...

  %span.st_twitter_large
  %span.st_facebook_large
  %span.st_email_large
