

#content.green
  = image_tag 'a_vote.png', :id => 'pastille_a_vote'
  = render :partial => '/layouts/messages'
  %p
    Merci pour votre participation.
  %p
    Vous recevrez un compte-rendu de notre expérience après les résultats officiels de l'élection présidentielle. 
  %p
    Invitez vos amis à participer à l'expérience (jusqu'à dimanche 20h)&nbsp;:
  .social
    %span.st_twitter_large.inlineIcon(displayText='Twitter' st_url="https://experience2012.votedevaleur.org")
    %span.st_facebook_large.inlineIcon(displayText='Facebook' st_url="https://experience2012.votedevaleur.org")
    %span.st_email_large.inlineIcon(displayText='Email' st_url="https://experience2012.votedevaleur.org")
    %span.st_pinterest_large.inlineIcon(displayText='Pinterest' st_url="https://experience2012.votedevaleur.org")
    %span.st_linkedin_large.inlineIcon(displayText='LinkedIn' st_url="https://experience2012.votedevaleur.org")
    %span.st_sharethis_large.inlineIcon(displayText='ShareThis' st_url="https://experience2012.votedevaleur.org")
  %p
    Vous pouvez également expérimenter d'autres systèmes de vote originaux grâce à cette expérience en ligne&nbsp;:
    %a.txt_url_ul{:href => "http://voteaupluriel.org", :target => "_blank", :title => "Expérience 'Vote au pluriel'"} http://voteaupluriel.org