
<div class='feedback_tile'>
  Dans le système du Vote de Valeur, trouvez-vous l’utilisation du bulletin de vote...
</div>

<div class='feeback_answer_block'>
  <div class='feeback_answer'>
    <input name='q_1' type='radio' value='1' id='q_1_1'/>
    <label for='q_1_1'>très facile à comprendre ?</label>
  </div>
  <div class='feeback_answer'>
    <input name='q_1' type='radio' value='2' id='q_1_2'/>
    <label for='q_1_2'>plutôt facile à comprendre ?</label>
  </div>
  <div class='feeback_answer'>
    <input name='q_1' type='radio' value='3' id='q_1_3'/>
    <label for='q_1_3'>plutôt difficile à comprendre ?</label>
  </div>
  <div class='feeback_answer'>
    <input name='q_1' type='radio' value='4' id='q_1_4'/>
    <label for='q_1_4'>très difficile à comprendre ?</label>
  </div>
</div>

  
<div class='feedback_tile'>
  Avez vous le sentiment de mieux exprimer votre opinion par... 
</div>

<div class='feeback_answer_block'>
  <div class='feeback_answer'>
    <input name='q_2' type='radio' value='1' id='q_2_1'/>
    <label for='q_2_1'>le système de vote classique ?</label>
  </div>
  <div class='feeback_answer'>
    <input name='q_2' type='radio' value='1' id='q_2_2'/>
    <label for='q_2_2'>le système de Vote de Valeur ?</label>
  </div>
  <div class='feeback_answer'>
    <input name='q_2' type='radio' value='1' id='q_2_3'/>
    <label for='q_2_3'>les deux systèmes de manière égale</label>
  </div>
</div>

<input type='submit' value='Valider' />