@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$user_sign_up_margin: 90px;

$content_width: 580px;

$width: 972px;

$color_minus_2: #F43737;
$color_minus_1: #E49F37;
$color_0: #D2D2D7;
$color_1: #B5D43B;
$color_2: #26B709;

$default-box-shadow-color: #333333;
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 0px;
$default-box-shadow-blur: 10px;
$default-box-shadow-spread: false;
$default-box-shadow-inset: false;

html, body{
  margin: 0 0;
  padding: 0 0;
  font-family: "Lucida Grande", Verdana;
}

body{
  &.home_index, &.home_resend_instructions{
    background: white asset-url('bgs/fondProcessus1-1.jpg', image) no-repeat center top;
  }
  &.registrations_new, &.registrations_create{
    background: white asset-url('bgs/fondProcessus1-2.jpg', image) no-repeat center top;
  }
  &.votes_explanations{
    background: white asset-url('bgs/fondProcessus3-1.jpg', image) no-repeat center top;
  }
  &.votes_index{
    background: white asset-url('bgs/fondProcessus3-2.jpg', image) no-repeat center top;
  }
  &.votes_classic, &.votes_second_tour{
    background: white asset-url('bgs/fondProcessus3-3.jpg', image) no-repeat center top;
  }
  &.home_thanks{
    background: white asset-url('bgs/fondProcessus3-4.jpg', image) no-repeat center top;
  }
  &.feedbacks_new{
    background: white asset-url('bgs/fondQuestionnaire.png', image) no-repeat center top;
  }
}

.clear{
    clear: both;
}

h2, h1, h4{
    text-align: center;
}

table{
  border-collapse: collapse;
  td{
    border: 1px solid;
  }
  thead{
    font-weight: bold;
  }
}

td.count, td.classic_count{
  text-align: right;
}

#user_new{
  .input{
    label{
      text-align: right;
      display: inline-block;
      width: $user_sign_up_margin;
    }
  }
  #user_remember_me{
    margin-left: $user_sign_up_margin;
  }
  #user_submit{
    display: block;
    margin-left: $user_sign_up_margin;
  }
}

#title {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 60px;
  text-align: center;
  text-shadow: 2px 2px 1px white;
}

#container{
    margin: 0 auto;
    width: $width;
}

#nextcontainer{
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

#contactcontainer{
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#messages{
  text-align: center;
  font-weight: bold;
  .error{
    color: #9E1516;
    @include border-radius(10px);
    border: 2px #9E1516 solid;
    padding: 5px;
    display: inline-block;
    margin-left: 0px;
  }    
}

#header{
  margin: 0 auto;
  width: $width;
  #social{
    float: right;
  }
}

#logo {
    top: 17px;
    position: absolute;
}

#user_sign_in{
  float: right;
  text-align: right;
}

.hidden{
  display: none;
}

#content, #next {
  @include border-radius(20px);
  background: white;
  color: #2E2E2E;
  box-shadow: 0px 0px 10px #333333;
  padding: 10px;


  &.red{
    border: 3px #EB4242 solid;
  }
  &.orange{
    border: 3px #E49F37 solid;
  }
  &.grey{
    border: 3px #969696 solid;
  }
  &.blue{
    border: 3px #4A6EAF solid;
  }
  &.green{
    border: 3px #3CB126 solid;
  }
  &.purple{
    border: 3px #c000ff solid;
  }
}
#content.green{
  margin-top: 100px;
}

#content{
  width: $content_width;
  margin: 0 auto 20px auto;
  h2{
    margin: 0 0;
    color: white;
    font-weight: normal;
    @include border-radius(15px 15px 0 0);
  }

  &.blue{
    width: 790px;
    padding: 0 0;
    h2{
      width: 790px;
      background: #4A6EAF;
    }
  }
  &.grey{
    width: 600px;
    padding: 0 0;
    h2{
      width: 600px;
      background: #969696;
    }
    &.with_padding{
      padding: 10px;
    }
  }
}

a#next, a#contact {
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

a#contact {
  font-size: 12px;
  padding: 3px 5px;
  
  @include border-radius(20px);
  background: white;
  color: #2E2E2E;
  box-shadow: 0px 0px 10px #333333;

  border: 1px #3CB126 solid;
}


#next{
  padding-right: 55px;
  padding-left: 10px;
  &.red{
    background: white asset-url('fleches/flecheRouge.png', image) no-repeat right;
  }
  &.orange{
    background: white asset-url('fleches/flecheOrange.png', image) no-repeat right;
  }
  &.grey{
    background: white asset-url('fleches/flecheGrise.png', image) no-repeat right;
  }
  &.purple{
    background: white asset-url('fleches/flecheViolette.png', image) no-repeat right;
  }
  
  &.left{
    padding-left: 55px;
    padding-right: 10px;
    background: white asset-url('fleches/flecheArriere.png', image) no-repeat left;
  }
}

$name_width: 320px;
.application{
  $row_height: 45px;

  #classic_vote{
    label{
      cursor: pointer;
    }
    span{
      display: block;
      clear: both;
      height: $row_height;
      text-align: center;

      input{
        float: right;
        margin: 15px 65px 0 0;
      }
      label{
        float: left;
        display: inline-block;
        text-align: right;
        width: $name_width;
        margin: 11px 0 0 0;

        &.selected{
          padding: 12px 70px 12px 0;
          margin: 0 0;
          background: asset-url('radio-selected.png', image) no-repeat 340px 7px;
        }
        &.unselected, &.nonselected{
          padding: 12px 70px 12px 0;
          margin: 0 0;
          background: asset-url('radio-unselected.png', image) no-repeat 340px 7px;
        }
      }
    }
  }

  #user_submit{
      margin-top: 30px;
      @include border-radius(20px);
      border: 5px solid #26B19C;
      clear: both;
      float: right;
      width: 110px;
      height: 50px;
      background-color: #DDDDDD;
      cursor: pointer;
  }
}


.results{
    margin: 0 auto;
    width: $width;
    text-align: center;
    .candidate{
        display: inline-block;
        text-align: right;
        width: $width/2 - 10px;
    }
    .count{
        display: inline-block;
        text-align: left;
        width: $width/2 - 10px;
        font-weight: bold;
    }
}

input#user_postal_code{
  width: 5em;
}

label[for='user_public']{
  font-size: 12px;
}

/*********   SIMPLE FORM DEFAULTS   ************/
/* ----- SimpleForm Styles ----- */


$label_width: 250px;
$label_margin: 10px;
$label_inner_width: $label_width - 2*$label_margin;
.simple_form div.input {
  margin-bottom: 10px;
  input.string{
    width: 200px;
  }
}

#classic_vote, #user_votes{
  .simple_form label {
    float: left;
    width: $label_inner_width;
    text-align: right;
    margin: 2px $label_margin;
    abbr{
      display: none;
    }
  }
}


div.boolean, .simple_form input[type='submit'] {
  margin-left: $label_width;
}

input[type='submit']:hover{
  cursor: pointer;
  text-decoration: underline;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear:   left;
  color:   black;
  display: block;
  margin-left: $label_width;
  font-size:    12px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size:    12px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left:   2px;
}

/* user sign_up form */
#new_user {
	label.email.required {
		margin-left: 0px;
		text-align: left;
		width: auto;
	}
	
	input#user_email {
		margin-left: 0px;
		width: auto;
	}

	div.input.boolean.optional {
		margin-left: 0px;
		text-align: justify;
	}
}

#dev{
  background: orange;
  height: 30px;
  #configuration{
    padding: 5px;
    float: right;
  }
  #date_election{
    padding: 5px;
    float: left;
  }
}

#resend_instructions{
  text-align: center;
  input[name='email']{
    width: 200px;
  }
}

.head_row{
  text-align: left;
  margin-bottom: 10px;
}

$cell_width: 108px;
.vote_head{
  display: inline-block;
  width: $cell_width;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  float:left;
  color: #FFFFFF;
  padding: 5px 0;
  &.minus_two{
    margin-left: 250px;
    background: rgb(219, 67, 67);
  }
  &.minus_one{
    background: rgb(228, 159, 55);
  }
  &.zero{
    background: rgb(180, 180, 180);
  }
  &.plus_one{
    background: rgb(177, 208, 57);
  }
  &.plus_two{
    background: rgb(32, 183, 86);
  }
  .legend{
    vertical-align: middle;
  }
  .value{
    display: inline-block;
    width: 17px;
    vertical-align: middle;
    text-align: center;
  }
  img{
    vertical-align: middle;
  }

}

#user_vote_form{
  .input span{
    width: $cell_width;
    display: inline-block;
    /*padding: 5px 0;*/
    text-align: center;
    /*background: lightgrey;*/
  }
}
label[for^=user_vote_for_candidate]{
  padding-top: 4px;
}
label.collection_radio_buttons{
  width: 100px;
  margin: 0 4px;
  height: 33px;
  display: inline-block;
  cursor: pointer;
}
#user_votes{
  label[for$='-2'].collection_radio_buttons{
    &.unselected{
      background: asset-url('votes/moins2.png', image);
    }
    &.selected{
      background: asset-url('votes/smileyMoins2On.png', image);
    }
    &.nonselected{
      background: asset-url('votes/moins2seul.png', image);
    }
  }
  label[for$='-1'].collection_radio_buttons{
    &.unselected{
      background: asset-url('votes/moins1.png', image);
    }
    &.selected{
      background: asset-url('votes/smileyMoins1On.png', image);
    }
    &.nonselected{
      background: asset-url('votes/moins1seul.png', image);
    }
  }
  label[for$='0'].collection_radio_buttons{
    &.unselected{
      background: asset-url('votes/0.png', image);
    }
    &.selected{
      background: asset-url('votes/smiley0On.png', image);
    }
    &.nonselected{
      background: asset-url('votes/0seul.png', image);
    }
  }
  label[for$='_1'].collection_radio_buttons{
    &.unselected{
      background: asset-url('votes/plus1.png', image);
    }
    &.selected{
      background: asset-url('votes/smileyPlus1On.png', image);
    }
    &.nonselected{
      background: asset-url('votes/plus1seul.png', image);
    }
  }
  label[for$='_2'].collection_radio_buttons{
    &.unselected{
      background: asset-url('votes/plus2.png', image);
    }
    &.selected{
      background: asset-url('votes/smileyPlus2On.png', image);
    }
    &.nonselected{
      background: asset-url('votes/plus2seul.png', image);
    }
  }
}

#pastille_a_vote{
  margin: -116px auto 0 auto;
  display: block;
}


#alreadyRegistered{
  font-size: 12px;
  color: #2E2E2E;
  &:active, &:visited{
    color: #2E2E2E;
  }
}

p.accueil { text-align: center; margin:0; }
p.inscription { margin-top: 7px; margin-bottom: 7px;}

div.accueil { text-align: center; }
h4.accueil { text-align: center; margin:0; }
h4.inscription { text-align: left; margin-bottom:0; }

table.accueil { padding: 10px 5px; width: 100%; border-collapse: separate; }
td.accueil { border: none; }

.disclaimer{
  font-size: 12px;
}

.inlineIcon{
	display:inline-block;
	vertical-align:middle;
}

.social{
  text-align: center; 
}

.preload{
  display: none;
}
