.fight
  .candidate.first
    = render :partial => 'candidate_input', :locals => {:candidate => fight.candidates.first, :fight => fight}
  .versus
    X
  .candidate.second
    = render :partial => 'candidate_input', :locals => {:candidate => fight.candidates.second, :fight => fight}

