#content.grey.with_padding
  = render :partial => '/layouts/messages'
  %p
    %b Bienvenue dans notre bureau de vote virtuel...
  %p Voici le déroulement de l'expérience que nous vous avons préparée :
  %ol
    %li(style="margin: 10px 0;")
      Vous allez voter pour les 10 candidats de l'élection présidentielle en utilisant le <b>Vote de Valeur</b>.
    %li(style="margin: 10px 0;")
      A des fins de comparaisons, nous vous demanderons ensuite de voter comme au <b>1er tour de l'élection classique</b>...
    %li(style="margin: 10px 0;")
      \... puis au <b>second tour</b> avec les duels les plus probables de cette élection.
    %li(style="margin: 10px 0;")
      Enfin, nous vous proposerons de nous donner <b>votre avis</b> sur cette expérience et ce système du Vote de Valeur.
  %p
    Les votes et réponses aux questions sont bien évidemment <b>anonymes</b>.

#nextcontainer
  = link_to "Continuer", votes_path, :id => 'next', :class => 'grey'
