#content.grey
  = render :partial => '/layouts/messages'
  %p
    %b Bienvenue dans notre bureau de vote virtuel...
  %p Voici le déroulement de l'expérience que nous vous avons préparé :
  %ol
    %li Vous allez voter pour les 10 candidats de l'élection présidentielle en utilisant le Vote de Valeur.
    %li A des fins de comparaisons, nous vous demanderons ensuite de voter comme au 1er tour de l'élection classique...
    %li ... puis au second tour avec les duels les plus probables de cette élection.
    %li Enfin, nous vous proposerons de nous donner votre avis sur cette expérience et ce système du Vote de Valeur.
  %p Nous vous rappelons que les votes et réponses aux questions sont anonymes.

#nextcontainer
  = link_to "Continuer", votes_path, :id => 'next', :class => 'grey'
