#content.grey
  = render :partial => '/layouts/messages'
  %p Bienvenue au bureau de vote virtuel, vous allez...
  %p &nbsp;
  %p &nbsp;
  %p &nbsp;
  %p &nbsp;
  %p &nbsp;

= link_to "Continuer", votes_path, :id => 'next', :class => 'grey'
